.img-full-div{
  width:800px;
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
}



.img-item {
  width: 200px;
  float: left;
  overflow: hidden;
}

.img-item img {width: 200px;height: auto;}